<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular + JWT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin"
            *ngIf="userService.roleMatch(['Admin'])"
            >Admin Dashboard</a>
          </li>

<!--          <app-search-bar></app-search-bar>-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user"
            *ngIf="userService.roleMatch(['User'])"
            >User Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/wishlist"
               *ngIf="userService.roleMatch(['User'])"
            >Wishlist</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/showProductDetails"
               *ngIf="userService.roleMatch(['Admin'])"
            >Show All Products</a>
          </li>


          <div class="nav-search">
            <div class="search-container">
              <form #searchform="ngForm" (ngSubmit)="onSearch(searchkeyword.value)" *ngIf="userService.roleMatch(['User'])">
                <input type="text" #searchkeyword name="searchKey" placeholder="Search any product" class="w-30">
                <button type="submit" routerLink="/searchResult"><i class="fa fa-search" ></i></button>
              </form>



            </div>
          </div>



        </ul>




        <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()" >Logout</button>
      </div>
    </div>
  </nav>