.wishlist-title {
    margin-bottom: 20px;
    text-align: center;
}
.product-list {
    display: flex;
    flex-direction: column; /* Display products in a column */
}

.product-container {
    margin-bottom: 20px; /* Adjust the spacing between each product */

}

.product-square {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.5);
    /* background-color: #f9f9f9; */
     text-align: center;

     display: flex;
     flex-direction: column; /* Display product details in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.product-image {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-details h2 {
    font-size: 18px;
    margin-bottom: 5px;

}
.product-details h2 a {
    color:white;

}

.product-details h2 a:hover {

    color: rgba(95, 38, 140, 0.5); /* Change the color to purple */
}

.product-details p {
    font-size: 14px;
    color: #666;
}

.title-word {
    animation: color-animation 4s linear infinite;
    font-family: "Courier New", Courier, monospace;
}

.title-word-1 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

