<div class="container">
    <div class="card">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="input-group">
                <input type="text" ngModel name="userName" id="userName" placeholder="Username" class="form-control">
            </div>
            <div class="input-group">
                <input type="password" ngModel name="userPassword" id="userPassword" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="register-link">
        <button type="button" (click)="registerUser()">Create an account</button>
    </div>
</div>