<div class="container mt-5">
    <div class="card text-center">
        <h1>Hello, {{ user.userName }}!</h1>
        <h1>--- this is your account ---</h1>
    </div>
</div>

<div class="details-container" *ngIf="user">
    <div class="card text-left centered-card">
    <h2 style="color: #52054b;">User Details</h2>
    <p><strong style="color: #52054b;">User Name:</strong> {{ user.userName }}</p>
    <p><strong style="color: #52054b;">First Name:</strong> {{ user.userFirstName }}</p>
    <p><strong style="color: #52054b;">Last Name:</strong> {{ user.userLastName }}</p>
    <p><strong style="color: #52054b;">Email:</strong> {{ user.email }}</p>
    </div>
</div>
