<div class="container">
    <div class="card">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <div class="input-group">
                <input type="text" ngModel name="userName" id="userName" placeholder="Username" class="form-control">
            </div>
            <div class="input-group">
                <input type="text" ngModel name="userFirstName" id="userFirstName" placeholder="Firstname" class="form-control">
            </div>
            <div class="input-group">
                <input type="text" ngModel name="userLastName" id="userLastName" placeholder="Lastname" class="form-control">
            </div>
            <div class="input-group">
                <input type="email" ngModel name="email" id="email" placeholder="Email" class="form-control">
            </div>
            <div class="input-group">
                <input type="password" ngModel name="userPassword" id="userPassword" placeholder="Password" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>